#home_form {
    width: 54%;
    height: 380px;
}

#form_button {
    width: 40%;
}

#filter-text {
    color: white;
    font-weight: bold;
    width: 35%;
    margin-top: 4px;
    font-size: 18px;
    margin-right: 15px;
}

#filter-box {
    width: 26%;
}

#filter-text2{
    color: white;
    font-size: 18px;
    width: 50%;
    margin-top: 4px;
    font-weight: bold;
}

/* Responsive design */
@media (max-width: 564px) {
    #home_form {
        height: 500px;
    }
}
